<% if action == :new
action_url = cats_url
submit_text = "Create new cat"
else
action_url = cat_url(cat)
submit_text = "Update new cat"
end%>

<form action="<%= action_url %>" method="post">
  <% if action == :edit%>
    <input type="hidden" name="_method" value="patch">
  <% end %>
  <label>
    Name:
  <input type="text" name="cat[name]" value="<%= cat.name %>">
  </label>

 <br>

  <label>
    Sex:
  Male: <input type="radio" name="cat[sex]" value="M"
  <%= "checked" if cat.sex == "M"%>
  >
  <br>
  Female: <input type="radio" name="cat[sex]" value="F"
  <%= "checked" if cat.sex == "F"%>>
  </label>

<br>

<label>
  Color:
  <select name="cat[color]">
    <option disabled selected>Pick a Color</option>
    <% Cat::COLORS.each do |color| %>
    <option value = "<%= color %>"
      <%= "selected" if color == cat.color %>
      > <%= color %> </option>
    <% end %>
  </select>
</label>

<label>
  Birth Date:
  <input type="date" name="cat[date]" max="2018-12-31" min="2000-1-1" value="2018-11-13">
</label>

<label>
  Description:
  <textarea placeholder="Enter a description"><%= cat.description %></textarea>
</label>

<label>
  <input type="submit" value= '<%= submit_text %>'>
</label>

</form>
